registry=https://time-machines-npm.sealsecurity.io/
//time-machines-npm.sealsecurity.io/:_authToken=2023-10-06T11:06:00.000Z
# //time-machines-npm.sealsecurity.io/:_authToken=2023-07-06T11:06:00.000Z
# @babel:registry=https://registry.npmjs.org/
